{% extends 'base.html.twig' %}



{% block title %}Fiche Client{% endblock %}


{% block body %}
    <h1>Fiche de {{customer.firstname}} - {{customer.lastname}}</h1>



        <a href="{{ path('customer') }}" class="btn btn-outline-secondary"><i class="fas fa-reply-all"></i> Retour à la liste</a>
        <button type="submit" class="btn btn-success"><i class="far fa-save"></i> Sauvegarder</button>

{% endblock %}