{% extends 'base.html.twig' %}



{% block title %}Nouveau Client{% endblock %}


{% block body %}
    <h1>Création d'un nouveau client</h1>



    {{form_start(formCustomer)}}
        {{form_widget(formCustomer)}}
    {{form_end(formCustomer)}}

    <a href="{{ path('customer') }}" class="btn btn-outline-secondary"><i class="fas fa-reply-all"></i> Retour à la liste</a>
    <button type="submit" class="btn btn-success"><i class="far fa-save"></i> Sauvegarder</button>

    


{% endblock %}