{% extends 'base.html.twig' %}

{% block title %}Hello CustomerController!{% endblock %}

{% block body %}
<list>
    <ol>
        {% for customer in customers %}
        <li>{{ customer.lastname}}</li>

        {% endfor %}
    </ol>
</list>
{% endblock %}

