.size-logo-equipement{
    height:35%;
    width: 35%;
}

.size-logo-staff{
    height:50%;
    width: 50%;
}

.size-logo-reservation{
    height:35%;
    width: 35%;
}

.size-logo-client{
    height:15%;
    width: 32%;
}

.logo{
    display: block;
    margin: auto;
}

.card{
    margin-bottom:15px;
    border-radius: 35px;
    border: 1px solid #3fa9f5;
}

.card:hover{
    background-color: #e0e0e0;
}

.card-title{
    text-align:center;
    padding-top: 15px;
}

.position-block{
    margin-top: 15px;
}

body{
    background-color: #eaf4f4;
}

.btn{
    border-radius: 20px;
}